:root {
  --accent-color: #ff6b08;
  --main-text: #242a37;
  --secondary-text: #898f9f;
  --light-text: #a6abb9;
  --main-background: #f6f7fb;
  --secondary-background: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  overflow: hidden;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.link {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.trainingIcon {
  fill: var(--light-text);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(177, 181, 194, 0.25);
}
::-webkit-scrollbar-thumb {
  background-color: #b1b5c2;
}
::-webkit-scrollbar-thumb:vertical {
  height: 40px;
}
